* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
}

body {
    background-color: #EEE9DA;
}

.header {
    text-align: center;
    font-size: 6.6rem;
    color: #365667;
    background-color: #93BFCF;
    text-align: center;
    height: 100px;
    margin-bottom: 20px;
}

#main {
    box-sizing: unset;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#grid {
    height: 700px;
    width: 700px;
    box-sizing: unset;
}

.tempgrid {
    display: flex;
    flex-direction: column;

    height: 700px;
    width: 700px;
}

.row {
    display: flex;
    flex-direction: row;

    margin: auto;
    width: 700px;

}

.block {
    background-color: whitesmoke;
    margin: auto;

    display: inline-block;
    /*border: 1px solid red;*/
}

#options {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
}

.range {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 630px;
    border-radius: 50px;
    background-color: #BDCDD6;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;

}

#rangeselector input {
    width: 500px;
    margin-top: 5px;
}

#rangedisplay{
    height: 40px;
    width: 80px;
    background-color: #93BFCF;
    color: #365667;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

input[type="color"] {
    appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;

}